{
	"printWidth": 80,
	"useTabs": true,
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/index.css",
	"tailwindConfig": "./tailwind.config.ts",
	"tailwindFunctions": ["clsx", "cn", "tw"],
	"tailwindPreserveWhitespace": true,
	"tailwindPreserveDuplicates": false
}
